.Container_histogramme{
   background-image: linear-gradient(120deg,$color_primary 35% , $color_black 30%);
   border-radius: 20px;
   padding: 40px;
   width: 50%;
   height: 600px;

    box-shadow: 2px 2px 1px $color_black;
   width: 100%;
   margin: 50px;
}
